<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inceptai.dobby">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wifi_doc_launcher"
        android:label="@string/wifidoc_app_name"
        android:supportsRtl="true"
        android:name=".DobbyApplication"
        android:theme="@style/AppThemeOrangeDark"
        tools:replace="android:theme, android:label, android:icon"
        >
        <activity android:name=".ui.WifiDocActivity"
            android:theme="@style/AppThemeOrangeDark.NoActionBar.Compat"
            android:screenOrientation="portrait">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.WifiDocOnboardingActivity"
            android:screenOrientation="portrait"
            android:label="@string/wifidoc_app_name"
            android:theme="@style/AppThemeOrangeDark.NoActionBar.Compat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name=".ui.ExpertChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.WifiDocActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WifiDocActivity"/>
        </activity>
        -->

    </application>

</manifest>
