<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inceptai.wifiexpert">

    <application  tools:replace="android:label"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/wifi_expert_launcher"
        android:label="@string/wifi_expert_name"
        android:roundIcon="@mipmap/wifi_expert_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.inceptai.wifiexpert.DobbyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>